@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


*:root {    
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}


,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;     
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: var(--pale-blue);
    font-family: 'red hat display', 'Josefin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.mob-card {
    width: 28.125em;
    height: 43.438rem;
    background: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20%;
    margin-bottom: 10%;
    color: var(--desaturated-blue);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    box-shadow: 0px 27px 29px -10px rgba(0, 0, 0, 0.09);
}

.image-hero {
   
    width: 28.125em;
    height: 13.875em;
    left: 493px;
    top: 102px;
    border-radius: 20px 20px 0px 0px;
}

.container{
    padding: 30px;
}

.title {
    color: var(--dark-blue)
}
 
.para {
    font-size: 1rem;
    padding: 0px 2.5em;
}



.plan-container {    
    background-color: var(--very-pale-blue);
    padding: 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;



}

.music-icon {
    width: 48px;
    height: 48px;
}

.plan-description {
    line-height: 10px;
    margin-right: 85px;
    padding-top: 10px;
}

.plan-container a {
    color: var(--bright-blue);
    font-size: 0.875rem;
    font-weight: 700;
}

.plan-container a:hover {
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
}

.plan-container strong {
    color: var(--dark-blue);
}

.payment-container  {
    width: 355px;
    height: 50px; 
    background: #382AE1;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 13px;
    font-size: 1rem;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;  

}

.payment-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

.cancel  {
    font-size: 1rem;
    text-decoration: none;
    color: var(--desaturated-blue);
    width: 355px;
    height: 50px;
    border: none;
    background-color: #FFFFFF;
    font-weight: 700;
    opacity: 0.8;
    margin-top: 20px;
    
}

.cancel:hover {
    opacity: 1;
    color: var(--dark-blue);
    cursor: pointer;
    
}

